.catalog-row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: 100vh;
	column-gap: 20px;
	padding-top: 140px;
	padding-bottom: 150px;
}

.sidebar {
	border: 2px solid #19376d;
	border-radius: 10px;
	width: 336px;
	padding: 20px;
}

.sidebar h4 {
	font-weight: 700;
	font-size: 32px;
	letter-spacing: 0.05em;
	color: #19376d;
	margin-top: 20px;
	margin-bottom: 20px;
}

.sidebar p {
	font-weight: 400;
	font-size: 22px;
	color: #000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-toggle {
    display: none;
}

.dropdown-label {
    font-weight: 400;
    font-size: 24px;
    color: #19376d;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.arrow-down {
    border: solid #19376d;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin-left: 5px;
    transform: rotate(45deg);
    transition: transform 0.3s;
}

#dropdown-toggle:checked + .dropdown-label .arrow-down {
    transform: rotate(-135deg);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
    width: max-content;
    z-index: 5;
    border-radius: 5px;
}

#dropdown-toggle:checked + .dropdown-label + .dropdown-menu {
    display: block;
    animation: fadeIn 0.3s;
}

.dropdown-item {
    padding: 10px 20px;
    margin: 0;
    cursor: pointer;
    font-size: 18px;
    color: #19376d;
    display: block;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.sort {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	column-gap: 20px;
	row-gap: 20px;
}

.prod-card {
	border: 2px solid #19376d;
	border-radius: 10px;
	width: 336px;
	height: 456px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;
}

.prod-card h4 {
	font-weight: 400;
	font-size: 24px;
	letter-spacing: 0.05em;
	color: #000;
	margin-top: 20px;
	margin-bottom: 20px;
}

.prod-card h3 {
	font-weight: 400;
	font-size: 28px;
	letter-spacing: 0.05em;
	color: #19376d;
	margin-top: 20px;
	margin-bottom: 20px;
}

.prod-card img {
	height: 220px;
	width: 320px;
	border-radius: 10px;
}

.btn2 {
	width: 150px;
	height: 60px;
	color: #fff;
	background-color: #19376D;
	font-weight: 400;
	font-size: 24px;
	font-family: 'Jost', sans-serif;
	letter-spacing: 0.05em;
	text-align: center;
	border-radius: 10px;
	border: none;
	outline: none;
	margin-right: 10px;
	cursor: pointer;
}

.btn3 {
	border: 2px solid #19376d;
	border-radius: 10px;
	width: 150px;
	height: 60px;
	background-color: transparent;
	font-weight: 400;
	font-size: 24px;
	letter-spacing: 0.05em;
	color: #19376d;
	font-family: 'Jost', sans-serif;
	text-align: center;
	outline: none;
	cursor: pointer;
}
