
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-family: 'Jost', sans-serif;
	margin: 0;
	padding: 0;
}

.сontainer {
	max-width: 1180px;
	padding: 0 30px;
	margin: 0 auto;
}

header {
	background-color: #0B2447;
	height: 75vh;
}

.header-nav {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	height: 55px;
	width: auto;
}

.nav-list {
	display: flex;
	column-gap: 50px;
	font-weight: 500;
	font-size: 14px;
}

.nav-list img {
	height: 35px;
	width: auto;
}

svg {
	width: 40px;
	height: 40px;
}

.line {
	fill: #fff;
	border-radius: 10;
	transition: transform 0.3s, opacity 0.3s;
}

.top {
	transform-origin: 50% 10%;
}

.middle {
	transition: opacity 0.3s;
}

.bottom {
	transform-origin: 5% 60%;
}

.open .top {
	transform: rotate(45deg) translate(5px, 5px);
}

.open .middle {
	opacity: 0;
}

.open .bottom {
	transform: rotate(-45deg) translate(5px, -5px);
}

.header-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 30px;
	height: 20vh;
}

header .title {
	color: white;
	font-weight: 700;
	font-size: 87px;
}

header p {
	color: white;
	font-weight: 400;
	font-size: 28px;
}

.find {
	display: flex;
	align-items: center;
	column-gap: 30px;
}

.find input {
	border: 2px solid #fff;
	border-radius: 50px;
	width: 480px;
	height: 70px;
	background-color: transparent;
	font-weight: 400;
	font-size: 32px;
	color: #cecece;
	padding-left: 30px;
	font-family: 'Jost', sans-serif;
	transition: border-color 0.3s;
}

.find input:focus {
	border-color: #576CBC;
	outline: none;
}

.find .btn {
	border: none;
	background-color: transparent;
	margin-left: -12vh;
}

.car8 {
	margin-top: -54vh;
	margin-bottom: -21vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
}

.rect {
	width: 100%;
	background-color: #19376D;
	height: 20vh;
	border: none;
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
	-webkit-box-shadow: 1px -14px 73px 34px rgba(16, 56, 111, 0.7);
	-moz-box-shadow: 1px -14px 73px 34px rgba(16, 56, 111, 0.7);
	box-shadow: 1px -14px 73px 34px rgba(16, 56, 111, 0.7);
}

.rect2 {
	width: 100%;
	background-color: white;
	border: none;
	border-radius: 60px;
	margin-top: -9vh;
	z-index: 1;
	position: relative;
	-webkit-box-shadow: 1px 6px 54px 32px rgba(54, 120, 171, 0.41);
	-moz-box-shadow: 1px 6px 54px 32px rgba(54, 120, 171, 0.41);
	box-shadow: 1px 6px 54px 32px rgba(54, 120, 171, 0.41);
}

@media screen and (min-width: 2100px) {
	.car8 {
		margin-top: -47vh;
		margin-bottom: -17vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

footer {
	background-color: #0B2447;
	height: 300px;
	z-index: -1;
	position: relative;
	margin-top: -7vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding-top: 70px;
}

footer p {
	color: white;
	margin-top: 50px;
}

        /* Стили для выдвигающегося меню */
        .menu {
					display: none;
					position: absolute;
					top: 60px;
					right: 15px;
					background-color: white;
					box-shadow: 0 8px 16px rgba(0,0,0,0.2);
					z-index: 1;
					opacity: 0;
					transition: opacity 0.5s ease, max-height 0.5s ease;
					max-height: 0;
					overflow: hidden;
					width:270px;
					border-radius: 10px;
					height: 400px;
			}

			.menu a {
					color: #19376D;
					padding: 12px 16px;
					text-decoration: none;
					display: block;
			}

			.menu a:hover {
					background-color: #ddd;
			}

			.icon {
					cursor: pointer;
			}